//theme colors
$c-black: #000000;
$c-white: #ffffff;

//background colors
$c-background-white: #{$c-white};

//primary button
$c-button-primary: #{$c-black};
$c-button-secondary: #{$c-white};

//button text
$c-button-primary-text: #{$c-white};
$c-button-secondary-text: #{$c-black};

//p
@mixin primary-text {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125em;
  text-align: left;
  //double check below font
  padding: 10px 0;
  letter-spacing: 1px;
  color: $c-black;
}

//need to pick up working here....needs styling for other text"
//h1
@mixin secondary-text {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
  color: $c-black;
}

//h2
@mixin tertiary-text {
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3.5em;
  color: $c-black;
}

//pick up here
@mixin button {
  background-color: $c-black;
  border: none;
  display: flex;
  margin: 20px auto 60px auto;
  justify-content: center;
  @media (min-width: 1200px) {
    margin: 25px auto;
  }
}

@mixin button-text {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  padding: 10px;
  color: $c-button-primary-text;
}
