/*order of import does matter*/
/* order of this allows base file to know variables*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables';

//this is not applying to the page
body {
  font-family: 'Epilogue', sans-serif;
  display: flex;
  background-color: lavender;
  margin: 0;
}

.navigation-wrapper {
  position: relative;
  padding-top: 30px;

  ul {
    margin: unset;
    padding: unset;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle {
    display: flex;
  }

  a {
    padding: 1em;
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }

  a:hover {
    //color: $c-coral;
  }

  .hamburger {
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0px;
    border: unset;
    background: unset;
    cursor: pointer;
    display: none;
  }

  .hamburger .icon-close {
    display: none;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .content-logos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 100px 20px;
  }
}

#hero-image.image-div img {
  width: 100%;
  height: auto;
  padding-top: 30px;

  @media (min-width: 1200px) {
    max-height: 200px;
    object-fit: cover;
  }
}

@media screen and (max-width: 650px) {
  .navbar.open ul {
    display: block;
  }

  .navbar.open .nav-toggle {
    display: block;
  }

  .navbar.open a {
    display: block;
  }

  .navbar .nav-toggle {
    display: none;
  }

  .navbar .hamburger {
    display: block;
  }

  .navbar.open .hamburger .icon-open {
    display: none;
  }

  .navbar.open .hamburger .icon-close {
    display: block;
  }
}

p {
  @include primary-text();
  text-align: center;
}

button.buttons {
  @include button();
  @include button-text();
  @media (min-width: 1200px) {
    padding-top: 30px;
  }
}

h1 {
  @include secondary-text();
  @media (min-width: 1200px) {
    padding: 40px 30px;
  }
}

h2 {
  @include tertiary-text();
  color: $c-black;
}
